/*--------Font Family--------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
*{font-family: 'Roboto', sans-serif;}
/*---background image*/
.background{background-color: #525252; height: auto;}
/*-----TOP-PART-------*/
nav li{max-width: 100%; font-size: 17px;}
.color-border{border: 1px solid #fff; border-radius: 80px; padding: 0 18px;}
.color{ background-color: #29626d; }
.vertical-line{ height: 50px; width: 1px; background-color: #e1e1e1; }
.dropdown-menu[data-bs-popper] {left: -130px;}
.dropdown-divider{ width: 100% height: 2px background-color: #111111; }
/*-----WELCOME SANDIP------*/
.welcome-sandip{ width: 100%; height: 119px; background-color: #f9f9f9; }
.welcome{ font-weight: 400; font-size: 40px; }
.sandip{ font-weight: bold; }
/*---MAIN BODY PART---*/
#main-body{background-color: #fff; max-height: 770px; height: 100%;}
.tabs-menu ul li{border-bottom: 1px solid #ffffff; background-color: #1d7a8c; list-style: none; line-height: 53px; width: 262px;}
.tabs-menu ul li a{ text-decoration: none; color: #ffffff; font-size: 18px;}
.description-part{ max-width: 847px; width: 100%; }
.border-box{ border: 1px solid #e1e1e1; }
.table{ margin: 0; padding: 0; box-sizing: border-box; max-width: 845px; width: 100%; border-collapse: collapse; }
.table thead{ background-color: #e1e1e1; }
.table thead tr th{ font-size: 16px; font-weight: bold; color: #646464; letter-spacing: normal; opacity: 1; height: 49px; vertical-align: top;}
.table thead tr th .actions{ margin-left: 10px; }
.table tbody tr td{ font-size: 16px; font-weight: normal; color: #646464; line-height: 26px; border-bottom: 1px solid #e1e1e1; justify-content: center; align-items: center; letter-spacing: normal; }
.table tbody tr td .cancel{ text-decoration: none; color: #fff; background-color: #ff6b6b; border: 1px solid transparent; border-radius: 25px; height: 30px; width: 70px; display: block;}
.footer-navbar{font-size: 14px; background-color: #111111; height: auto;}
ul li{list-style: none; color: #f1f1f1; font-size: 14px;}
ul li a{ text-decoration: none; color: #f1f1f1; }
.footer-line{ border: 1px solid; background-color: #424242; width: 84.6%; margin-left: 7.7%; }
.privacy-faq{background-color: #111111; color: #9ba0a3; font-size: 14px;}
/*--------MEDIA QUERIES--------*/
@media (max-width: 992px){ .tabs-menu ul li{ max-width:992px; width:100% } 
.none{ display: none; }
}

@media (max-width: 768px){ 
	.vertical-line:before{ max-width: 768px; width: 100%; height: 1px; background-color: ; }
	.table thead{ display:none; } 	
	.table, .table tbody, .table tr, .table td{ display: block; width: 100%; }
	.table tr{border: 1px solid #e1e1e1; border-bottom: 0;}
	.border-box{ border: none; position: relative;}
	.table tbody tr td .cancel{ margin-left: 45%; }
}