/*--------Font Family--------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
*{font-family: 'Roboto', sans-serif;}
.reset-form{ width:400px }
.Log-in{ text-align: center; border: 1px solid #fff;	background-color:  #006072; border-radius: 100px; color: #fff;  padding: 10px 0;}
.color-gradiant{ color: #6eabef; }