
                
                  <div class="d-none" id="form">
                    <form class="form ps-3 pt-3 mb-3">
                      <div class="d-flex flex-xl-nowrap flex-row ">
                      <div class="d-flex flex-xl-nowrap flex-column">
                        <span>
                          <label>Street Name</label>
                          <input class="input-a"  type="text" placeholder="Street Name" name="Street Name">
                        </span>
                        <span>
                          <label>Postal Code</label>
                          <input type="text" class="input-a" placeholder="Postal code" name="Postal code">
                        </span>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">+49</span>
                          <input type="text" class="form-control"  placeholder="Mobile number" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div>
                      <div class="d-flex ps-4 flex-xl-nowrap flex-column">
                        <span>
                          <label>House Number</label>
                          <input type="text"  class="input-b" placeholder="House Number">
                        </span>
                        <span>
                          <label>City</label>
                          <input type="text" class="input-b" placeholder="City" name="City">
                        </span>
                      </div>
                      </div>
                      <button type="submit" class="save text-center">Save</button>
                      <button type="reset" class="cancel text-center">Cancel</button>
                    </form>
                     </div>