@model Helperland.Models.User
<link rel="stylesheet" href="~/css/ResetPassword.css" asp-append-version="true" />
@{
   ViewBag.Title = "Reset Password";
}
@using (Html.BeginForm("ResetPassword" , "Home" , FormMethod.Post))    
{
<div class="model-body reset-form">
    <h4>Reset Password</h4>
    <hr />
    <div class="text-danger">
        @ViewBag.Message
    </div>
    <div class="form-group mb-2">
       <input asp-for="Email" type="text" class="form-control" placeholder="Email" aria-label="Email">
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group mb-2">
       <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password">
    </div>
    <div class="form-group mb-2">
        <input asp-for="Password" type="password" class="form-control" placeholder="Confirm Password" aria-label="Password">
    </div>
    <div class="form-group">
            <input type="submit" value="Save" class="Log-in w-100" />
    </div>
</div>
}
    
