@model IEnumerable<Helperland.Models.favblock>

    @foreach (var item in Model)
   {
       <div class="border-user">
        <img class="avatar-hat pt-4 align-items-center justify-content-center" src="~/image/avatar-hat.png">
        <label class="name text-center mt-1">@item.FirstName @item.LastName</label>
        @if(item.IsBlocked == false)
        {
            <button class="block ps-1 pe-1 mt-2" onclick="block(@item.Id)">Block</button>
        }    
        else
        {
            <button class="block ps-1 pe-1 mt-2" onclick="unblock(@item.Id)">UnBlock</button>
        }
       </div>
   }


<div class="mt-2">
    <div class="d-flex w-100 end-div pt-1 ps-2 align-items-center justify-content-between">
        <div class="d-flex align-items-center">
        <span>Show</span>
        <select class="form-select border-10 ms-1 me-1" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option selected>10</option>
            <option value="1">20</option>
            <option value="2">30</option>
            <option value="3">40</option>
        </select>
        <span class="">Entries total recorded : 1</span>
        </div> 
        <nav aria-label="Page navigation example">
        <ul class="pagination pt-2">
            <li class="page-item page-link">
                <span aria-hidden="true">&laquo;</span>
            </li>
            <li class="page-item page-link">1</li>
            <li class="page-item page-link">
                <span aria-hidden="true">&raquo;</span>
            </li>
        </ul>
        </nav>
    </div>
</div>