         
            <table class="table border-box align-middle">
              <thead>
                <tr>
                  <th>Service Details<img class="ms-2" src="~/image/up-down-arrow.png"></th>
                  <th>Service Provider<img class="ms-2" src="~/image/up-down-arrow.png"></th>
                  <th>Payment<img class="ms-2" src="~/image/up-down-arrow.png"></th>
                  <th><span class="ps-2 ms-1">Status<img class="ms-2" src="~/image/up-down-arrow.png"></span></th>
                  <th><span class="m-l"> Rate SP</span></th>
                </tr>
              </thead>
              <tbody>
                <tr class="mb-sm-3 mt-sm-3">
                   <td data-label="Service date"><img class="me-2" src="~/image/calendar.png">26/12/2021 <br><img class="me-2"src="~/image/clock.png">12:00-8:00</td>
                  <td data-label="Service Provider"><div class="cap-star d-flex flex-wrap"><img class="cap me-2" src="~/image/cap.png"><div class="Service-Provider pb-0 d-flex flex-wrap">Lyum Watson<span class="star"><img src="~/image/yellow-star.png"><img src="~/image/yellow-star.png"><img src="~/image/yellow-star.png"><img src="~/image/yellow-star.png"><img src="~/image/white-star.png"></span>4</div></div></td>
                  <td data-label="Payment"><span class="€63 ms-lg-2 ps-lg-1">€</span><span class="number-63">63</span></td>
                  <td data-label="Status"><span class="green">Completed</span></td>
                  <td data-label-1="Rate SP"><a href="#" class="Rate-SP text-center">Rate SP</a></td>
                </tr>
                <tr class="mb-sm-3 mt-sm-3">
                   <td data-label="Service date"><img class="me-2" src="~/image/calendar.png">26/12/2021 <br><img class="me-2"src="~/image/clock.png">12:00-8:00</td>
                  <td data-label="Service Provider"><div class="cap-star d-flex flex-wrap"><img class="cap me-2" src="~/image/cap.png"><div class="Service-Provider pb-0 d-flex flex-wrap">Lyum Watson<span class="star"><img src="~/image/yellow-star.png"><img src="~/image/yellow-star.png"><img src="~/image/yellow-star.png"><img src="~/image/yellow-star.png"><img src="~/image/white-star.png"></span>4</div></div></td>
                  <td data-label="Payment"><span class="€63 ms-lg-2 ps-lg-1">€</span><span class="number-63">63</span></td>
                  <td data-label="Status"><span class="green">Completed</span></td>
                  <td data-label-1="Rate SP"><a href="#" class="Rate-SP text-center">Rate SP</a></td>
                </tr>
                <tr class="mb-sm-3 mt-sm-3">
                   <td data-label="Service date"><img class="me-2" src="~/image/calendar.png">26/12/2021 <br><img class="me-2"src="~/image/clock.png">12:00-8:00</td>
                  <td data-label="Service Provider"><div class="cap-star d-flex flex-wrap"><img class="cap me-2" src="~/image/cap.png"><div class="Service-Provider pb-0 d-flex flex-wrap">Lyum Watson<span class="star"><img src="~/image/yellow-star.png"><img src="~/image/yellow-star.png"><img src="~/image/yellow-star.png"><img src="~/image/yellow-star.png"><img src="~/image/white-star.png"></span>4</div></div></td>
                  <td data-label="Payment"><span class="€63 ms-lg-2 ps-lg-1">€</span><span class="number-63">63</span></td>
                  <td data-label="Status"><span class="green">Completed</span></td>
                  <td data-label-1="Rate SP"><a href="#" class="Rate-SP text-center">Rate SP</a></td>
                </tr>
              </tbody>
            </table>
