@model Helperland.Models.User


@using (Html.BeginForm("ForgetPassword" , "Home" , FormMethod.Post))
{
  <div asp-action="ForgetPassword" method="Post">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Forget Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-2">
            <input type="email" asp-for="Email" class="form-control" id="exampleInputPassword2" placeholder="Email id">
          </div>
          <button type="submit" class="Log-in w-100">Send</button>
        </form>
      </div>
      <div class="modal-footer">
        <label  class="text-center w-100 color-gradiant">Login Now</label>
      </div>
    </div>
  </div>
</div>
}

