@using Microsoft.AspNetCore.Http

        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <img src="~/image/big-logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item text-center active ms-xl-3  mt-3 ">
                            <a class="nav-link text-light" aria-current="page" asp-action="BookService" asp-controller="Home">Book a cleaner</a>
                        </li>
                        <li class="nav-item text-center ms-xl-3  mt-3 ">
                            <a class="nav-link text-light" aria-current="page" asp-action="Prices" asp-controller="Home">Prices</a>
                        </li>
                        <li class="nav-item text-center ms-xl-3  mt-3 ">
                            <a class="nav-link text-light" aria-current="page" href="#">Our Guarantee  </a>
                        </li>
                        <li class="nav-item text-center ms-xl-3  mt-3 ">
                            <a class="nav-link text-light" aria-current="page" href="#">Blog</a>
                        </li>
                        <li class="nav-item text-center ms-xl-3  mt-3 ">
                            <a class="nav-link text-light" aria-current="page" asp-action="Contact" asp-controller="Home">Contact Us</a>
                        </li>
                            @if(Context.Session.GetString("User_id") != null)
                            {
                                <li class="vertical-line none ms-xl-3 mt-2"></li>
                                <li class="nav-item text-center none ms-xl-3 mt-2">
                                  <a class="nav-link" aria-current="page" href="#"><img src="~/image/icon-notification.png"></a>
                                </li>
                                <li class="vertical-line none ms-xl-3 mt-2"></li>
                                <li class="nav-item text-center justify-content-center ms-xl-3 mt-2 dropdown">
                                  <a class="nav-link p-2" aria-current="page" id="navbarDropdown" data-bs-toggle="dropdown" href="#"><img class="pe-1" src="~/image/account-profile-image.png"><img src="~/image/white-downarrow.png"></a>
                                  <ul class="dropdown-menu text-xl-start text-center" aria-labelledby="navbarDropdown">
                                    <li>
                                      <a class="dropdown-item bg-transparent" href="#">Welcome @Context.Session.GetString("UserName_Session")</a>
                                    </li>
                                    <li> <hr class="dropdown-divider"> </li>
                                    <li>
                                      <a class="dropdown-item bg-transparent" asp-action="CustomerDashbord" asp-controller="Home">My Dashbord</a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" asp-action="CustomerSettings" asp-controller="Home">My Settings</a>
                                    </li>
                                    <li>
                                      <a  class="dropdown-item" asp-action="Logout" asp-controller="Home" >Logout</a>
                                    </li>
                                  </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item text-center active ms-xl-3  mt-3 ">
                                    <a class="nav-link text-light" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Login</a>
                                </li>
                                <li class="nav-item text-center active ms-xl-3  mt-3 ">
                                    <a class="nav-link text-light" aria-current="page" asp-action="ServiceProvider" asp-controller="Home">Become a Helper</a>
                                </li>
                            }
                        <li class="text-center flex-column justify-content-center nav-item dropdown ms-xl-3 mt-3">
                            <a class="nav-link p-2" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="img-fluid" src="~/image/ic-flag.png" alt="flag" />
                                <img class="img-fluid" src="~/image/white-downarrow.png" alt="" />
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item bg-transparent" href="#">
                                        <img class="img-fluid" src="~/image/ic-flag.png" alt="flag" />US
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img class="img-fluid" src="~/image/ic-flag.png" alt="flag" />AUS
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        
