@model Helperland.Models.User

  @using (Html.BeginForm("Login" , "Home" , FormMethod.Post))
{
<div class="modal-dialog modal-dialog-centered" asp-action="Login" method="Post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Login to your account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-2">
            <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email id" aria-describedby="emailHelp">
          </div>
          <div class="mb-2">
            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="mb-2 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
          </div>
          <button type="submit" class="Log-in w-100">Login</button>
        </form>
      </div>
      <div class="modal-footer Login-footer p-0 m-0">
        <label class="text-center w-100 color-gradiant pb-0 mb-0" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Forget Password?</label>
        <label class="text-center w-100 pb-0 mb-0">Don't have an account?<a class="ps-2 color-gradiant" asp-controller="Home" asp-action="CreateAccount" >Create an</a></label>
        <a  class="text-center w-100 color-gradiant" asp-controller="Home" asp-action="CreateAccount" > Account</a>
      </div>
    </div>
  </div>
}
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    @Html.Partial("ForgetPassword")
    </div>

